body {
     background: #e5e5e5;
    
    }

li {
    list-style-type: none; } /* Убираем маркеры */
   

.container {
    display: inline-block;
    width: 1480px;
    height: auto;
}
.content {
    background:white;  
    width: 1480px;
    }

.content-title {  
     font-style: normal;
     font-weight: normal;
     font-size: 80px;
     line-height: 94px;
     display: flex;
     align-items: flex-end;
     text-align: center;
     padding: 63px 1048px 0px 98px;
     width: 334px;
     height: 79px;
     font-family: Roboto;
}
a { text-decoration: none; color:white /*Убираем подчеркивание текста*/
}
    .blue-title {
    color:#4acbff;
    font-family: Roboto;
}
.black-title {
    color:black;
    font-family: MyriadPro;
    }
.nav-menu {
    display: inline-block;
    background-color: #35444F;
    Width: 1283px;
    Height: 72px;
    margin-left: 98px;
    margin-top: 38px;
    }
    .link-item {
      display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28,13px;
    margin-left: 194px;
    margin-right: 20px;
    }
    .link-item-2 {
      display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28,13px;
    }
    .link-item-3 {
      display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28,13px;
    padding-left: 206px 823px 19px 194px;}*/
.nav-list {
    /*display: flex;*/
    /*margin: 10px;
    padding: 5px;*/
    list-style: none;
    
  }
.nav-list li {
  display: inline-block;
  line-height: 69px;

  }
.nav-list a {
  display: block;
  /*padding: 10px 20px 10px 15px;*/
  border-left: 0.5px solid #ffffff;
  /*background: #35444F;*/
  font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28,13px;
 }
.link-item-1 {
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28,13px;   
    }
    .link-item-2 {
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28,13px;
  
    
    }
    .link-item-3 {
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28,13px;
   
    }
    .link-item-4 {
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28,13px;
    }
  li a:hover{
      background-color: #222F3A;
    }
/*.vertical-line {
  border-left: 1px solid #ffffff;
  transform: rotate(90deg);
  position: absolute;
  width: 69px;
  margin-top: 19px;
  margin-left:69px;
}*/
/*.vertical-line-1 {
  border-left: 1px solid #ffffff;
  transform: rotate(90deg);
  position: absolute;
  width: 69px;
  margin-top: 35px;
  margin-left: 162px;
}
/*.vertical-line-2 {
  border-left: 1px solid #ffffff;
  transform: rotate(90deg);
  position: absolute;
  width: 69px;
  margin-top: 19px;
  margin-left:69px;
}
.vertical-line-3 {
  border-left: 1px solid #ffffff;
  transform: rotate(90deg);
  position: absolute;
  width: 69px;
  margin-top: 19px;
  margin-left:69px;
}
.vertical-line-4 {
  border-left: 1px solid #ffffff;
  transform: rotate(90deg);
  position: absolute;
  width: 69px;
  margin-top: 19px;
  margin-left:69px;
}*/
/*.item-1 {
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    flex-wrap: nowrap;
    margin: 26px 0px 19px 194px;
   }
.item-2 {
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28,13px;
    flex-wrap: nowrap;
    margin: 26px 0px 19px 32px;
}
.item-3 {
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28,13px;
    flex-wrap: nowrap;
    margin: 26px 0px 19px 32px;
}
.item-4 {
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28,13px;
    flex-wrap: nowrap;
    margin: 26px 0px 19px 32px;
}*/
/*.container {
    display: flex;
    width: 1283px;
    margin: 38px 99px  1030px 98px;
    background:#35444F;
}
.fp {
    
}
.four a {
  padding: 1em;
  display: block;
  color: #9B4222;
  border-right: 1px solid #FFAB51;
  background: rgba(255, 171, 81, .3);
}
.four a:hover {background: #FFAB51}
body {margin:0;}
h2 {
  font-family: monospace;
  color: #606060;
}
ul {
  list-style: none; 
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
i {
  margin-right: 10px;
}
nav {
  display: block;
  width: 660px;
  margin: 0 auto 30px;
}*/