
body, html
{
	width: 100%;
	height: 100%;
	font-weight: 700;
	color: #fed206;
	background-color: #000;
	overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.titles
{
	position: absolute;
	width: 16em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 300%;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 80%;
	transform: perspective(50px) rotateX(6deg);
}

.titles::after
{
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

.titles p
{
	text-align: justify;
	margin: 1em 0;
}

.titles {
	text-align: center;
}

.titlecontent
{
	position: absolute;
	top: 10%;
	animation: scroll 30s linear 0s infinite;
}
@keyframes scroll {
	0% { top: 80%; }
	100% { top: 0%; }
}