@import '../abstracts/variables';
@import '../abstracts/mixin';

.footer {
    background-color: #000;
    display: flex;
    justify-content: center;
}
.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $tablet-bp) {
        max-width: 768px;
       justify-items: center;
    }
}
.footer__title {
    @include posts__title;
    color: #FEFEFE;
    margin-top: 38px;
    margin-bottom: 8px;
    @media (min-width: $tablet-bp) {
        margin-top: 57px;
        margin-bottom: 22px;
        font-size: 16px;
    }
}
.footer__text {
    @include footer__text;
    margin: 0 30px 0 30px;
    @media (min-width: $tablet-bp) {
        display: inline;
        line-height: 28px;
        font-size: 16px;
        margin: 0 43px 0 36px;
        flex-direction: row;
        float: left;
        &::after {
        flex-direction: column;
        content: " Curabitur blandit tempus porttitor vollisky inceptos mollisestor.";
        }
    }
}
.footer__icon-wrapper {
    margin-top: 26px;
    @media (min-width: $tablet-bp) {
        margin-top: 37px;
    }
}
.footer__contacts {
    @include footer__contacts;
    margin: 25px 60px 47px 60px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    @media (min-width: $tablet-bp) {
        margin-top: 34px;
        margin-bottom: 56px;
        font-size: 16px;
        line-height: 26px;
    }
    @media (min-width: $desktop-bp) {
       margin-bottom: 70px;
    }
}