@import '../abstracts/variables';
@import '../abstracts/mixin';

.header {
    display: flex;
    align-items: center;
    margin: 23px 28px 0 25px;
    flex-wrap: wrap;
    width: min-content;
    @media (min-width: $tablet-bp) {
    margin: 23px 92px 0 80px;    
    }
    @media (min-width: $desktop-bp) {
    margin: 29px 115px 0 115px;    
    }
}
.header__nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    @media (min-width: $tablet-bp) {
    padding: 0;
    }
}
.bar {
    @include header__btn-wrapper;
}
.bar:nth-child(2) {
    top: 17px;
}
.bar:nth-child(3) {
    top: 21px;
}
.header__btn-wrapper {
    width: 44px;
    height: 37px;
    background-color: #000;
    position: relative;
    @media (min-width: $tablet-bp) {
    display: none;
    }
}
.header__btn-wrapper.active .bar:nth-child(2){
    opacity: 0;
}
.header__btn-wrapper.active .bar:nth-child(1){
    transform: translateY(4px) rotate(45deg);
}
.header__btn-wrapper.active .bar:nth-child(3){
    transform: translateY(-4px) rotate(-45deg);
}

.header__list {
    list-style-type: none;
    display: none;
    position: absolute;
    margin-top: 37px;
    @media (min-width: $tablet-bp) {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
    width: 100%;
    padding: 0;
    margin: 0 30px 0 40px;
    align-items: center;
    }
}
.header__list.active {
    display: block;
    background-color: #F5F5F5;
    padding-top: 1px;
    padding-left: 0;
    width: 140px;
    height: 183px;
    justify-content: space-between;
    @media (min-width: $tablet-bp) {
    display: none;
    }
}
.header__link {
    @include header__link-text;
    padding-left: 13px;
    padding-top: 3.5px;
    &:hover {
        color:#57A4A4;
        background-color: #E5E5E5;
        @media (min-width: $tablet-bp){
        background-color: #fff;
        }
    }
}
.header__img {
    margin-top: 23px;
    @media (min-width: $tablet-bp) {
		width: 596px;
		height: 280px;
	}
    @media (min-width: $desktop-bp) {
		width: 970px;
		height: 362px;
	}
}
.bar {
    @include header__btn-wrapper;
}
.bar:nth-child(2) {
     top: 17px;
}
.bar:nth-child(3) {
    top: 21px;
}
.header__btn-wrapper {
    width: 44px;
    height: 37px;
    background-color: #000;
    position: relative;
    @media (min-width: $tablet-bp) {
    display: none;
    }
}
.header__btn-wrapper.active .bar:nth-child(2){
    opacity: 0;
}
.header__btn-wrapper.active .bar:nth-child(1){
    transform: translateY(4px) rotate(45deg);
}
.header__btn-wrapper.active .bar:nth-child(3){
    transform: translateY(-4px) rotate(-45deg);
}
