@import '../abstracts/variables';
@import '../abstracts/mixin';

.instagram__wrapper {
    max-width: 100%;
    margin: 49px 40px 42px 21px;
    @media (min-width: $tablet-bp) {
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.03);
        padding-top: 47px;
        padding-left: 80px;
        margin: 28px 92px 49px 0;
        width: 100%;
    }
    @media (min-width: $desktop-bp) {
        width: 1200px;
        padding: 0;
        margin: 0;
    }
}
.instagram__text-wrapper {
    @media (min-width: $tablet-bp) {
        display: flex;
        justify-content: space-between;
        width: 630px;
    }
    @media (min-width: $desktop-bp) {
        width: 1002px;
        margin-left: 100px;
        }
}
.instagram__title {
    @include posts__title;
    margin: 0;
    margin-bottom: 13px;
    @media (min-width: $tablet-bp) {
        margin-bottom: 35px;
    }
    @media (min-width: $desktop-bp) {
    margin-top: 47px;
    margin-bottom: 24px;
    }
}
.instagram__link {
    @include posts__title;
    font-size: 13px;
    display: none;
    @media (min-width: $tablet-bp) {
        display: flex;
        margin-bottom: 35.5px;
    }
    @media (min-width: $desktop-bp) {
    margin-bottom: 24.5px;
    padding-right: 0;
    padding-top: 46.5px;
    }
}
.instagram__img-wrapper {
    display: flex;
    flex-direction: row;
    @media (min-width: $desktop-bp) {
        margin: 0 auto;
        margin-bottom: 49px;
}
}
.instagram__img-m {
    width: 258px;
    height: 258px;
    @media (min-width: $tablet-bp) {
        width: 203px;
        height: 203px;
        @media (min-width: $desktop-bp) {
            width: 243px;
            height: 243px;
}
}
}
.instagram__img-t, .instagram__img-t2 {
    display: none;
    @media (min-width: $tablet-bp) {
            display: flex;
            width: 203px;
            height: 203px;
            margin-left: 10px;
        }
        @media (min-width: $desktop-bp) {
            width: 243px;
            height: 243px;
            }
}
.instagram__img-d {
    display: none;
    @media (min-width: $desktop-bp) {
    display: flex;
    width: 243px;
    height: 243px;
    margin-left: 10px;
    }
}
