@import '../abstracts/variables';
@import '../abstracts/mixin';

.posts {
    margin-left: 25px;
    @media (min-width: $tablet-bp) {
        margin-left: 80px;
        }
        @media (min-width: $desktop-bp) {
            margin-left: 115px;
        }
}
.posts__title {
    @include posts__title;
    margin: 38px 0 23px 0;
    @media (min-width: $tablet-bp) {
        margin-top: 56px;
        margin-bottom: 24px;
    }
    @media (min-width: $desktop-bp) {
        margin-top: 66px;
    }
}
.posts__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: $desktop-bp) {
        display: grid;
        grid-template-areas: 
        "block1 block3"
        "block2 block4";
        max-width: 970px;
        }
}
.posts__post:nth-child(1) {
    @media (min-width: $desktop-bp) {
        grid-area: block1;
        }
}
.posts__post:nth-child(2) {
    @media (min-width: $desktop-bp) {
        grid-area: block2;
        }
}
.posts__post:nth-child(3) {
    @media (min-width: $desktop-bp) {
        grid-area: block3;
        }
}
.posts__post:nth-child(4) {
    display: none;
    @media (min-width: $tablet-bp) {
        display: flex;
    }
    @media (min-width: $desktop-bp) {
        grid-area: block4;
        }
}
.posts__post {
    @media (min-width: $tablet-bp) {
        display: flex;
        margin-bottom: 32px;
    }
}
.post__body-wrapper {
    @media (min-width: $tablet-bp) {
        margin-left: 20px;
    }
}

.posts__image-title {
    @include posts__title;
    line-height: 30px;
    margin-bottom: 0;
    @media (min-width: $tablet-bp) {
        display: flex;
        margin-top: 0;
    }
}
.posts__image-comments {
    @include posts__image-comments;
    @media (min-width: $tablet-bp) {
        margin-bottom: 13px;
    }
}
.posts__image-text {
    @include posts__image-text;
    display: none;
    @media (min-width: $tablet-bp) {
    display: flex;
    margin: 0;
    max-width: 404px;
    }
}
