body {
    font-family: 'Ubuntu', sans-serif;
    background: url(../img/bg.jpg) no-repeat;
    background-size:cover; 
    color: #fff;
}
.wrapper {
    display: grid;
    /* place-content: center center; */
    background: rgba(0, 0, 0, 0.41);
    position: relative;
}
.nav-list {
    display: flex;
    flex-direction: row;
    color: #fff;
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
    /* justify-content: center; */  
}
.list-title {
    /* display: flex; */
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    /* position: absolute; */
    /* padding: 18px 0 18px 79px;  */
    /* align-self: baseline; */
    color: #fff;
    margin: 2px 0 2px 53px;
}
.list-title:hover, .login-link:hover, .signup-link:hover {
    color: rgba(60, 184, 120, 1);
}
.vector-link:not(:hover) {
    fill: #fff;
}
.vector-link:hover {
    fill:rgba(60, 184, 120, 1);
}
.list-vector1 {
    right: 405px;
    position: absolute;
}
.list-vector2 {
    right: 355px;
    position: absolute;
}
.list-vector3 {
    right: 308px;
    position: absolute;
}
.list-line {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    height: 19px;
    position: absolute;
    right: 282px;
    opacity: 0.5;
}
.list-login {
    right: 147px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    position: absolute;
}
.list-signup {
    right: 79px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
}
.login-link, .signup-link {
    text-decoration: none;
    color: #fff;
}
.form-wrapper {
    background-color: #fff;
    width: 444px;
    height: auto;
    position: relative;
    margin: auto;
    margin-top: 54px;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.signup-form {
    display: flex; 
    position: relative;
}
.rectangle {
    position: absolute;
    margin-top: 29px;
} 
.form-signup {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 14px;
    color: rgba(67, 67, 67, 1);
    margin: 31px 314px 0 61px;
    position: absolute;
}
.form-login {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    margin: 33px 59px 0 346px;
    position: absolute;
}
.form-login-link:not(:hover) {
    text-decoration: none;
    color: rgba(60, 184, 120, 1);
}
.form-login-link:hover {
    text-decoration: line;
    color: rgba(60, 184, 120, 1);
}

.facebook-btn {
    background-color: rgba(48, 93, 184, 1);
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    width: 160px;
    margin: 60px 224px 0 60px;
    border:none;
}
.facebook-btn:hover {
    background-color: rgba(2, 34, 99, 1);
}
.facebook-icon {
    margin: 9px 130.77px 9px 16.77px;
}
.facebook-line {
    border-left: 1px solid rgba(10, 22, 47, 1);
    height: 28px;
    opacity: 0.1;
    margin: 10px 111px 10px 48px;
    position: absolute;
}
.btn-text {
    color: #fff;
    position: absolute;
    margin: 14px 22px 14px 67px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}
.google-btn {
    background-color: rgba(223, 74, 50, 1);
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    width: 160px;
    margin: -44px 60px 0 224px;
    border: none;
}
.google-btn:hover {
    background-color: #AB1F09;
}
.google-icon {
    margin: 12px 118px 11px 12px;
}
.google-line {
    border-left: 1px solid rgba(43, 13, 9, 1);
    height: 28px;
    opacity: 0.1;
    margin: 10px 110px 10px 49px;
    position: absolute; 
}
.or-lines {
    display: flex;
    width: 322px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.or-text {
    color: rgba(132, 132, 132, 1);
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    width: 14px;
    line-height: 15px;   
}
.line-before {
    display: flex;
    border-width: 1px;
    border-style: solid;
    width: 152px;
    color: rgba(242, 242, 242, 1);
    margin-right: 5px;
}
.line-after {
    display: flex;
    border-width: 1px;
    border-style: solid;
    width: 152px;
    color: rgba(242, 242, 242, 1);
    margin-left: 2px;
}
.form {
    display: grid;
    /* flex-direction: column; */
    margin-top: 12px;
    row-gap: 12px;
    /* max-width: 324px; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    justify-content: center;
    box-sizing: border-box;
}
label {
    color: #BEBEBE;
}
.form-el:not(:focus) {
    width: 305px;
    padding: 13.5px 0 13.5px 19px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    margin-bottom: 3px;
}
.form-el:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border:none;
    width: 305px;
    padding: 13.5px 0 13.5px 19px;
    border-radius: 4px;
    transition: .3s box-shadow;
    margin-bottom: 3px;
}
::placeholder {
    color: #BEBEBE;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    border: 1px solid #F2F2F2;
}
.checkbox-wrapper {
    position: relative;
    margin-left: 2px;
    margin-top: -3px;
}
.checkbox-label {
    color: #434343;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    width: 241px;
    left: 28px;
}
.checkbox-link:not(:hover) {
    color: rgba(60, 184, 120, 0.8);
    text-decoration: none;
}
.checkbox-link:hover {
    color: rgba(60, 184, 120, 0.8);
    text-decoration: line;
}
.green-btn {
    width: 324px;
    background: rgba(60, 184, 120, 0.8);
    text-align: center;
    /* justify-content: center; */
    padding: 15px 0 15px 0;
    margin: -12px 0 38px 0;
    border-radius: 4px;
    border: none;
}
.green-btn:hover {
    background-color: #01813F;
}
.green-btn-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px; 
    color: #fff;
    text-decoration: none;
}
