﻿.page {
    width: 1900px;
    background-color: #F2F2F2;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
}
.header {
    justify-content: center;
} 
.nav-bar {
    height: 70px;
    background-color: #313131;  
}
.nav-container {
    display: flex; 
}
.main-menu {
    display: flex;
    margin: auto;
}
.menu-item {
    margin-left: 35px;
     display: flex;
     align-items: center; 
}
.menu-link {
    text-decoration: none; 
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}
.menu-link:hover {
    color: #14B9D5;
}
.text-logo {
    display: flex;
    width: 124px;
    align-items: center;
}
.text-logo-item {
    text-decoration: none; 
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    margin-right: auto;
    margin-left: auto;
}
.logo-container {
    display: flex;
    align-self: flex-start;
    width: 81px;
    height: 70px;
    align-items: center;
    justify-content:start;
}
.logo-link {
    align-self: center;
    margin-right: auto;
    margin-left: auto;
}
.search-img {
    align-self: center;
}
.search-container {
    display: flex;
    width: 68px;
    height: 70px;
    align-items: center;
    background-color: #000;
}
.search-link {
    margin-right: auto;
    margin-left: auto;
}
.nav-search {
    display: flex;
    flex-direction: column;
    align-self: end;
}
.header-title {
    margin-bottom: 44px;
}
.title-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
.header-bg {
    height: 369px;
    background: url(../img/header-bg.jpeg);
    display: flex;
    justify-content: center;
    align-items: center; 
    align-content: center;
    background-position: center 720px;
    background-attachment: fixed;
}
.bg-items-wrapper {
    display: flex;  
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: 74px;
}
.btns-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.green-btn {
    display: flex;
    margin-right: 20px;
    background-color: #89CA62;
    height: 55px;
    width: 170px;
    align-items: center;
    justify-content: center;
}
.blue-btn {
    display: flex;
    background-color:#14B9D5;
    height: 55px;
    width: 170px;
   align-items: center;
   justify-content: center;
}
.btn-link {
    text-align: center;
    text-decoration: none; 
    color: #FFFFFF;
}
.posts-wrapper {
    background-color:#F2F2F2;
    font-family: 'Open Sans', sans-serif;
}
.sections-title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    margin: 49px 0 52px;
    text-transform: uppercase;
}
.posts-list {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 900px;
    margin: 0;
}
.posts-item {
    margin-right: 30px;
    background-color: #fff;
    margin-bottom: 32px;
}
.posts-text {
    text-align: center;
    color: #353A3D;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}
.parallax {
    background: url(../img/parallax-bg.jpeg);
    height: 588px;
    background-attachment: fixed;
    display: grid;
    text-align: center; 
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    background-position: center; 
}
.parallax-title {
    text-transform: uppercase;
    color: #ffffff;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    margin-top: 108px;
    padding: 0;
}
.section_line {
    width: 60px;
    height: 3px;
    border: 0;
    background-color:#18B4CF;
    margin-top: 87px;
}
.brands {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    width: 881px;
    height: 63px;
    margin-top: 100px;
    margin-bottom: 185px;
    align-items: center;
}
.rated-wrapper {
    display: grid;
    row-gap: 0px;
    column-gap: 0px;
    gap: 0px;
    grid-auto-flow: column;
}
.hot-news {
    align-content: center;
}
.news-wrapper {
    display: grid;
   /* margin: 0 361px 0 372px; */
    /* place-content: center center; */
    /* grid-template-columns:  857px 700px;
    grid-template-rows: 300px 300px 300px 1fr;  */
    /* grid-auto-flow: row; */
    /* gap: 42px 60px;  */
    /* justify-content:space-between; */
    /* grid-template-columns: 3fr 1fr 2fr 2fr; */
    /* grid-template-areas:  
    ".  ."
    ". ."
    ". ."
    ". ."; */
    /* align-items: center; 
    /* row-gap: 46px;
    column-gap: 60px; */
}
.central-items-grid {
    display: grid;
    grid-template-areas:  
    ". ."
    ". .";
    gap: 46px 60px ;
}
.top-items-grid {
    display: grid; 
    grid-template-columns: 857px 277px; 
    grid-template-rows: 259px; 
    gap: 44px 35px; 
    grid-template-areas: 
     ". ."; 
    justify-self: center;
    margin-bottom: 44px;
}
.bottom-items-grid {
    display: grid; 
    grid-template-columns: 277px 857px; 
    grid-template-rows: 259px; 
    gap: 44px 35px; 
    grid-template-areas: 
     ". ."; 
    justify-self: center;
    margin-top: 44px;
    margin-bottom: 77px;
}
.side-items-title {
    font-family: Open Sans;
    text-align: end;
    align-self: center;
    color: #353A3D;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding-top: 41px;
    margin: 0; 
}
.side-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #5B6469;
    line-height: 21px;
    text-align: end;    
    /* margin: 0; */
}
.side-items-text {
    /* margin: 0; */
    /* display: grid;
    grid-auto-flow: row;
    max-width: 373px; */
    padding-right: 24px;
}
.item1, .item8 {
    display: grid;
    grid-auto-flow: column;
    background-color: #F9F7F7;
    
}
.item2, .item7 {
    display: grid;
    /* max-width: 277px; */
    background-color: #F9F7F7;
}
.item3, .item4, .item5, .item6 {
    background-color: #F9F7F7;
    width: 554px;
    /* margin: 0;
    padding: 0; */
}
.item3, .item5 {
    align-self: flex-end;
    justify-self: end;
}
.central-items-title {
    font-family: Open Sans;
    text-align: end;
    align-self: center;
    color: #353A3D;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding: 12px 0 15px;
    margin: 0; 
}
.central-items-text {
    max-width: 527px;
    text-align: end;
    padding: 0 14px 0 13px;
}
.central-text {
    margin: 0;
}
.footer-bg {
    display: flex;
    height: 70px;
    background-color: #000000;  
    text-align: center;
    justify-content: space-around;
}
.footer-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    align-self: center;
}
.footer-logo {
    width: 105px;
    height: 24px;
    align-self: center;
}

