body {   
    background: #e5e5e5;
     display: flex;
     justify-content: center;
     align-items:start;
    }
li {
    list-style-type: none; } /* Убираем маркеры */

.container {
    background:white;  
    width: 1480px;
    list-style: none;
    }
.container-content {
    width: 1280px;
    padding: 63px 99px 30px 98px;
}
.content-title {  
     font-style: normal;
     font-weight: normal;
     font-size: 80px;   
     display: flex; 
     width: 334px;
     height: 79px;
}
.title-link {
    display: flex;    
    width: 100%;
    height: 100%;
    text-align: center;
}
a { text-decoration: none;  /*Убираем подчеркивание текста*/
}
    .blue-title {
    color:#4acbff;
    font-family: MyriadPro;
}
.black-title {
    color:black;
    font-family: Roboto;
  }
  .nav-menu-fon {
  display: flex;
  position: relative;
  background-color: #35444F;
  Width: 1283px;
  Height: 72px;
  margin-top: 38px;
  }
  .nav-list {
  list-style: none;
  display: flex;
  align-self: center;
  }
  ul.nav-list {
      margin-left:0;
      padding-left: 0;
  }
  .nav-list li {
  display: inline-block;
  line-height: 72px;
  text-align: center;
   /*текст меню по центру*/
  }
    .nav-list a {
    display: inline-block;
    border-left: 1px solid #ffffff;    
    color:white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28,13px;
     }
    .link-item-1 {
    margin-left: 162px;
    padding-left: 32px;
    padding-right: 33px;
    }
    .link-item-2 {
    padding-left: 38px;
    padding-right: 38px;
    }
    .link-item-3 {
    padding-left: 40px;
    padding-right: 40px;
    }
    .link-item-4 {
    border-right: 1px solid #ffffff;
    padding-left: 40px;
    padding-right: 40px;
    }
    .list-item :hover {
    background-color: #222F3A;
                }
    .list-item {
    padding-top: 2px;
    padding-bottom: 1px;
    }   
    .main-container {
        display: flex;
    }
    .image-container {
        width: 885px;
        height: 529px;
        margin: 48px 0 0 52px;
        border: 1px solid #000000;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
                    }
    .image {
        transition: 3s;  /*время эффекта*/
    }
    .image:hover {
        transform: scale(1.4); /*увеличение масштаба картинки*/
    }
    .aside-container {
        width: 344px;
        height: 399px;
        margin-top: 48px;
        border: 1px solid #000000;
        display: flex;
    }
    .aside-item a {
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 27px;
        line-height: 27px;
        display: flex;
        color: #485863;
        /*padding: 20px 120px 20px 0px;*/
        
    }
    .aside-item {
        display: flex;
        justify-content:left;
        border: 2px solid #000;
        padding: 25px 37px 25px 38px; 
        width: 100%;
        /*box-sizing: 342px 81px;*/
    }
     .aside-item:hover {
    background-color: #DBDBDB; 
    color: #35444F;  
    justify-content: center;
    box-shadow: 1px 5px 10px -5px black; 
    }
    .aside-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        /*justify-content:space-around;*/
        background-origin: padding-box;
    }
    .text-1 , .text-2 {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #2c2c2c;
    text-align: left;
    margin: 0 0 0 396px;
    }
    .text-1 {
    margin-top: 37px;
    }
    .text-2 {
    margin-top: 34px;
    }
    .footer-bg {
    display: flex;
    background: #DBDBDB;
    width: 1280px;
    height: 69px;
    margin-top: 54px;
    }
    .footer-list {
    display:flex;     
    flex-wrap: nowrap;
    align-items: center;
    }
    .footer-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #010101;
    margin-right: 26px;
    } 
    .footer-link:hover {
    color: #3181a6;
    border-bottom: 2px solid #3181a6;      
    }
    .copy {
    display: flex;
    flex-wrap: nowrap;   
    align-items: center;
    margin-left: 135px;
    width: 190px;
    height: 69px;
    Font-family: Roboto;
    Font-style: Regular;
    Font-size: 24px;
    Line-height: 24px;
    Line-height: 85%;
    color: #010101
    }
    .theme-change {
        position: absolute;
        margin: 0 0 0 600px;
        padding: 5px;
        border-radius: 10px;
        color: rgb(255, 0, 98);
        font-weight: 700;
        font-size: medium;
        cursor: pointer;
    }
    