body {   
    background: #e5e5e5;
    }
.container {
    background:white;  
    }
.blue-title {
    color:#4acbff;
    }
.black-title {
    color:black;
    }
  .nav-menu-fon {
    background-color: #35444F;
    }
    .nav-list a {
    border-left: 1px solid #ffffff;    
    color:white;
    }
    .link-item-4 {
    border-right: 1px solid #ffffff;
    }
    .list-item :hover {
    background-color: #222F3A;
    }
    .image-container {
    border: 1px solid #000000;
    }
    .aside-container {
    border: 1px solid #000000;
    }
    .aside-item a {
    color: #485863;
    }
    .aside-item {
    border: 2px solid #000;
    }
     .aside-item:hover {
    background-color: #DBDBDB; 
    color: #35444F;  
    box-shadow: 1px 5px 10px -5px black; 
    }
    .text-1 , .text-2 {
    color: #2c2c2c;
    }
    .footer-bg {
    background: #DBDBDB;
    }
    .footer-link {
    color: #010101;
    } 
    .footer-link:hover {
    color: #3181a6;
    border-bottom: 2px solid #3181a6;      
    }
    .copy {
    color: #010101
    }
    .theme-change {
    color: rgb(255, 0, 98);
    }
    