* {
    font-family: 'Roboto', sans-serif;
}
body {
    max-width: 1200px;
}
@import './components/header';
@import './components/posts';
@import './components/instagram';
@import './components/footer';