@mixin header__link-text {
    display: flex;
    align-items: center;
    letter-spacing: 1.1px;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    color: #4E4E4E;
    text-decoration: none;
}
@mixin header__btn-wrapper {
    display: block;
    position: absolute;
    width: 17px;
    height: 2px;
    left: 13px;
    top: 13px;  
    background: #FFFFFF;
}
@mixin posts__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #4E4E4E;
}
@mixin posts__image-comments {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #7C7C7C;
    margin-top: 0;
    margin-bottom: 28.5px;
}
@mixin posts__image-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    align-items: center;
    color: #5C5C5C;
}
@mixin footer__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
}
@mixin footer__contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
}