input:focus {
  outline: none;
  border: 3px solid green;
}
input {
  margin: 20px 0 0 20px;
}
.invalid {
  border-color: red;
}
#error {
  color: red;
}
/* .hint {
  border: 1px solid black;
  border-radius: 60px;
  padding: 5px;
} */
