@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* *,
*::after,
*::before {
    box-sizing: border-box;
} */

body {
	/* margin-top: 100px; */
    font-family: "Montserrat", sans-serif;
	background-color: #e5e5e5;
}

.page {
	width: 1280px;
	margin: 0 auto;
background-color: white
}

.nav_links {
    display: block;
    color: #ff0000;
    font-weight: bold;
    text-decoration: none;    
    font-style: normal;
	font-size: 18px;
	line-height: 100%;
    text-transform: uppercase;
}
.item_links {
    display: inline;
    margin-bottom: 25.5px;
    padding-top: 25.5px;
}

.home_link {
    margin-left: 330px;
    color: #ff0000;
    text-decoration: none;
}

.photoapp_link {
    margin-left: 72px;
    color: #ff0000;
    text-decoration: none;   
}

.design_link {
    margin-left: 72px;
    color: #ff0000;
    text-decoration: none;
}

.download_link {
    margin-left: 50px;
    margin-right: 330px;
    color: #ff0000;  
    text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  display:block;
  margin: auto;
}

li a {
  display: block;
  margin: auto;
}

.img {
    display:block;
    max-width: 100%;
    margin-bottom: 49px;
 }

.title {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #373737;
    letter-spacing: 3.3px;
}

.text_prima {
    margin-top: 38px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 162%;
    color: #373737;
    text-align: center;
    letter-spacing: 2.4px;
}

.text_secundo {
    padding-top: 28px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 162%;
    color: #373737;
    text-align: center;
    letter-spacing: 2.4px;
}

.btn {
    display: flex;
    grid-auto-flow: column;
    text-align: center;
    justify-content: center;
    margin: 66px 0 0 544.5px;
    background-color: #ff0000; 
    width: 191px; 
    border-radius: 4px;
}
.button_link {
    padding: 20px 0 19px 0;
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.page-footer {
    margin-left: 710px;
    margin-right: 102px;
}
.copy {
    margin-top: 82px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 39px;
    color: #373737;
    letter-spacing: 2.4px;
    align-self: center;
    
}