body {
    display: flex;
    justify-content: center;
    /* width: 1920px; */
}
.wrapper {
    width: 1920px;
    font-family: 'Montserrat', sans-serif;
}
.navbar {
    display: grid;
    grid-auto-flow: column;
}
.theham {
    background-image: url(../img/Sections-background/section1.jpg);
    background-size: cover;
    height: 1012px;
    width: auto;
}
.navbar {
    background: rgba(94, 93, 88, 0.6);
    max-height: 120px;
}
header {
    position: relative;
}
.logo-wrapper {
    display: grid;
    grid-auto-flow: column;
    margin-left: 444px;
    height: 100%;
    width: 233.05px;
    display: inline;
    /* align-content: center; */
}
.logo-background {
    position: absolute;
    margin-top: 26px;
    left: 380px;
}
.logo-letter {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 77%;
    color: #fff;
    position: absolute;
    left: 393px;
    width: 31px;
    margin-top: 44px;
}
.logo-title {
    position: absolute;
    display: inline;
    font-weight: 400;
    font-style:normal;
    font-size: 32px;
    line-height: 46px;
    color: #fff;
    left: 444px;
    top: -5px;
}
.green-title {
    font-weight: 700;
    font-style:normal;
    font-size: 32px;
    line-height: 46px;
    color: #18CFAB;
}

.nav-list {
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    /* border: 1px solid #fff; */
    margin-top: 49.61px;
    margin-bottom: 48.74px;
    margin-right: 380px;
}
.nav-list-item {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin-right: 21.09px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, 0.6);
}
.nav-list-item:hover {
    color: #18CFAB;
    padding-bottom: 44px;
    border-bottom:2px solid #18CFAB;
    cursor: pointer;
}
.theham-title-wrapper {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 251px;
}
.small-title {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}
.small-title-green {
    color: #18CFAB;
}
.big-title {
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    line-height: 80px;
    color: #fff;
    text-transform: uppercase;
    margin: 22px 0 0 0;
}
.title-text {
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 34px;
    color: #D4D4D4;
    margin: 22px 0 0 0;
}
.button-wrapper {
    display: grid;
    grid-auto-flow: column;
    /* align-self: center;
    justify-content: center; */
    margin-top: 129px;
    position: relative;
}
.button-wrapper button {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    border-radius: 6%;
    border-top: 5px solid #fff;
}
.explore {
    background: #18CFAB;
    margin-left: 778px;
    width: 169px;
    padding: 16px 18.17px 16px 17px;
}
.purchase {
    background: #00CBF6;
    margin-left: 973px;
    width: 168px;
    padding: 16px 10.59px 16px 11.59px;
}
.features-list {
    display: grid;
    grid-auto-flow: column;
    text-transform: uppercase;
    list-style-type: none;
    padding: 0;
    margin-top: 8px;
}
.features-item-even {
    display: grid;
    background-color: #1C2A33;
    justify-items: center;
    color: #18CFAB;
    width: 482px;
    height: 377px;
}
.features-item-odd {
    display: grid;
    background-color: #18CFAB;
    justify-items: center;
    color: #fff;
    width: 482px;
    height: 377px;
}
.features-photo-even {
    margin: 95px 0 48px 0;
}
.features-photo-odd {
    margin: 105px 0 58px 0;
}
.features-text {
    margin-bottom: 110px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}
.services {
    max-width: 1160px;
    margin: 0px auto;
}
.section-title {
    color: #4E4E4E;
    font-weight: 400;
    font-size: 36px;
    display: flex;
    justify-content: center;
    line-height: 40px;
    margin: 83px 0 26px 0;
}
.section-line {
    width: 80px;
    height: 1px;
    border: 0;
    background: #18CFAB;
    position: relative;
    margin-left: 535px;
}
.section-line-copy {
    margin-left: 545px;
    position: relative;
    top: -19px;
}
.services-tabs {
    margin-top: 69px; 
    margin-bottom: 23px;
    list-style: none;
    display: flex;
    font-weight: 400;
    line-height: 39px;
    font-size: 16px;
    padding-left: 0;
} 
.tabs-item {
    flex: 0 1 16.667%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16.2px 21px 15.8px 19px;
    border: 1px solid #EDEFEF;
    background-color: #F8FCFE;
    color: #717171;
    text-decoration: none;
}
.tabs-block {
    display: none;
}
.tabs-block:target {
    display: block;
}
.services-text {
    float: right;
    margin: 0px auto;
    width: 952px;
    height: 136px;
    color: #777777;
    font-size: 13.645px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 91px;
}
.services-container a:hover {
    border: 1.5px solid #18CFAB;
}
.tabs-item.active {
    background: #18CFAB;
    color: #fff;
    border: none;
    position: relative;
}

.install {
    background-image: url(../img/Sections-background/Layer\ 21\ 1.jpg);
    background-size: cover;
    width: 1920px;
    height: 476px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.install-header {
    margin-top: 126.78px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}
.install-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-top: 12.22px;
    margin-bottom: 62px;
}
.install-button {
    /* margin-bottom: 127px; */
    background: #18CFAB;
    width: 168px;
    height: 63px;
    padding: 16px 10.59px 16px 11.59px;
    border-radius: 6%;
    border-top: 5px solid #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    color: #fff;
}
.amazingWork {
    background: #E9EDEF;
    min-height: 1212px;
}
.section-line-st {
    width: 80px;
    height: 1px;
    border: 0;
    background: #18CFAB;
    position: relative;
    margin-left: 915px;
}
.section-line-nd {
    margin-left: 928px;
    position: relative;
    top: -19px;
}
.work-title {
    color: #4E4E4E;
    font-weight: 400;
    font-size: 36px;
    display: flex;
    justify-content: center;
    line-height: 40px;
    margin: 0;
    padding: 95px 0 20px 0;
}
.filter {
    display: flex;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 71px;
}
.filter-list {
    padding: 0px;
    margin: 0px auto;
    /* margin-top: 69px; */
    width: 582px;
    justify-content: center;
    align-items: center;
    display: flex;
    list-style-type: none;
}
.filter-item {
    padding: 14px 15px 13px 15px;
    border: 1px solid #DADADA;
    font-weight: 400;
    font-size: 14px;
    line-height: 31px;
    color: #717171;
    cursor: pointer;
}
.filter-item.active {
    border: 2px solid #18CFAB;
    color: #18CFAB;
    cursor: pointer;
}
.filter-photo {
    display: grid;
    max-width: 1140px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px auto;
    padding: 0;
    position: relative;
}
.hide {
    opacity: 1;
    animation-name: a1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes a1{
    to {
        opacity: 0;
        min-height: 0;
        min-width: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }
}
.box {
    position: relative;
}
.descr:hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background: #E9EDEF;
    transition: all .6s;
    border-top: 4px solid #18CFAB;
}
.descr {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.descr-svg {
    margin-top: 46px;
    margin-left: 101px;
}
.descr-title {
    margin-top: 24.82px;
    font-weight: 700;
    font-size: 14.1771px;
    /* line-height: 25px; */
    display: flex;
    text-transform: uppercase;
    align-items: center;
    color: #18CFAB;
    justify-content: center;
}
.descr-text {
    font-weight: 300;
    font-size: 12.1518px;
    /* line-height: 25px; */
    color: #8A8A8A;
    display: flex;
    justify-content: center;
    margin-top: -9px;
}
/* .filter-photo .box:hover .descr {
    display: block;
    opacity: 0;  
} */
.more-pictures {
    display: grid;
    max-width: 1140px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px auto;
    padding: 0;
    display: none;
    position: relative;
}
.filter-btn {
    width: 168px;
    height: 63px;
    background: #18CFAB;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
    margin: 70px 0 99px 876px;
    border-radius: 8px;
}
.btn-svg {
    margin-left: -6px;
    margin-right: 15px;
}
.news-wrapper {
    max-width: 1160px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 62px;
    gap: 35px;
}
.amazing-wrapper {
    position: relative;
}
.amazing-square {
    position: absolute;
    display: flex;
    width: 70px;
    height: 68px;
    left: 193px;
    top: 0px;
    background: #203E38;;
}
.amazing-date {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    width: 36px;
    height: 37px;
    padding-left: 17px;
    display: flex;
    align-items: center;
    text-align: center;
}
.amazing-title {
    font-weight: 700;
    font-size: 17.9885px;
    line-height: 39px;
    display: flex;
    padding-left: 15px;
    margin: 0;
    color: #717171;
}
.amazing-comment {
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    display: flex;
    padding-left: 15px;
    margin: 0 0 9px 0;
    color: #777777;
}
.amazing-wrapper:hover .amazing-title{
        color: #18CFAB;
}
.amazing-wrapper:hover .amazing-square {
    background: #18CFAB;
}
.people {
    background-image: url(../img/Sections-background/section-3.jpg);
    background-size: cover;
    width: 1920px;
    height: 853px;
    margin-top: 128.81px;
}
.people-title {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 36px;
    display: flex;
    justify-content: center;
    line-height: 40px;
    padding-top: 83px;
    padding-bottom: 26px;
}
.people-brackets {
    margin-top: 48px;
    width: 44px;
    height: 30px;
    display: flex;
    margin-left: 937px;
    padding-bottom: 20px;
}
.people-text {
    width: 1160px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #BBBBBB;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.people-carousel {
    width: 483px;
    margin: 0 auto;
    /* margin: 334px 0 0 718px */
    /* display: flex; */
}
.previous {
    padding: 8px 11px 8px 10px;
    margin: 20px 10px 19px 0;
    border: 1px solid #BBBBBB;
}
.people-photo-wrapper {
    position: absolute;
    width: 483px;
    height: 70px;
    margin-top: 321px;
}
.people-photo {
    justify-content: center;
    margin: 6px 13px 6px 13px;
    border-radius: 50%;
    border: solid 4px rgb(18, 69, 64);
}
.next {
    padding: 10px 11px 9px 12px;
    border: 1px solid #BBBBBB;
    margin: 20px 0 19px 10px;
}
.previous:hover, .next:hover {
    background: #18CFAB;
    fill: #fff;
    cursor: pointer;
}
/* #click path:hover {
    fill: #fff;
} */
.people-descr {
    margin-top: 17px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    position: absolute;
}
.people-01-name {
    font-weight: 700;
    font-size: 16px;
    /* align-items: center;*/
    text-align: center; 
    text-transform: uppercase;
    color: #18CFAB;
    margin-top: 37px;
    margin-bottom: 0;
    margin-left: 150px;
}
.people-01-position {
    font-weight: 300;
    font-size: 13px;
    color: #BBBBBB;
    margin-top: 9px;
    /* margin-left: 30px; */
    text-align: center;
    margin-left: 150px;
}
.people-photo-big {
    margin-bottom: 63px;
    margin-top: 50px;
    border-radius: 50%;
    border: solid 10px rgb(18, 69, 64);
    margin-left: 150px;
}
.people-descr {
    display: none;
} 
.people-descr:target {
    display: block;
} 
.footer-wrapper {
    width: 1922px;
    height: 121px;
    background: #22353F;
    display: flex;
    
    /* margin-top: 67px; */
}
.footer-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    display: flex;
    align-items: center;
    /* margin: 0 auto; */
    /* width: 326px; */
    margin-left: 798px;
}
.green-ham {
    margin: auto 4px;
    color: #18CFAB;
}